*.o
*.sublime-*
*.trace

hdswitch
experiments/v4l2_cam
experiments/v4l2_list
experiments/alsa
experiments/alsa_rec
experiments/fbo
experiments/alsa_pcm_list
experiments/pulse
experiments/text_rendering
experiments/gui

tests/*.o
tests/*_test

audio.raw
core
hdswitch.sock